#checkout {
  display: none;
}

#navbar {
  display: inline;
  list-style-type: none;
  width: 100%;
}

#one {
  position: absolute;
  left: 0%;
}
#two {
  position: absolute;
  left: 50%;
}
#three {
  position: absolute;
  left: 90%;
}

#navbar li {
  display: inline;
}

img {
  height: 300px;
}

h1 {
  text-align: center;
}
